<html>
  <head>
    <% include ./head %>
    <title>Ying Thanks You</title>
  </head>
  <body>
      <% include ./nav %>
    <div>
      Thank you <%= contact.firstName %> <%= contact.lastName %>.
    </div>
    <% include ./footer %>
  </body>
</html>